body {
    background-color: white;
    font-family: Georgia;
}

h1 {
  text-align: center;
}

#navMenu {
  margin: auto;
  width: 46%;
  font-size: 20px;
}

.multimedia-graphic img {
  width: 100%;
}

.left {
  float: left!important;
}

.right {
  float: right!important;
}

.db-divide {
  border-bottom: thin solid #222222;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.db-footer {
  color: grey;
  line-height: 3;
}

.db-footer a {
  color: #0080c6;
}

.db-footer ul {
  margin: 0.625rem 0 0.625rem 0;
}

.db-footer li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1rem 0 1rem;
}
